<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<html>


<div id='viewContainer' class="index-flex-container">
    <div id= "currentReadHolder" class="index-flex-item">
            <h4><%= manga.title_english %></h4>
            <img src="<%= manga.image_url_med %>">
            <h5><%= manga.title_japanese%></h5>
        </div>
    </div>

<div id= "currentReadHolder" class="index-flex-item">

        <h4>Number of volumes:  <%= manga.total_volumes %></h4>
        <p><%= manga.description%></p>
        <h6>Genres: <%= manga.genres%></h6>

    </div>
    <a href="/">Click here to return to Main page</a>
</div>
</div>
<!-- end recommended mangas -->
</div>